<div *ngIf="childSelectedJob">
  <h3>Edit Job</h3>
  <label>Title:</label>
  <input [(ngModel)]="childSelectedJob.title">
  <label>Company:</label>
  <input [(ngModel)]="childSelectedJob.company">
  <label>Location:</label>
  <input [(ngModel)]="childSelectedJob.location">
  <label>Description:</label>
  <input [(ngModel)]="childSelectedJob.description">
  <button (click)="doneButtonClicked()">Done</button>
  <button type="button" class="btn btn-danger" (click)="deleteButtonClicked(childSelectedJob)">Delete</button>
</div>
